<footer class="footer">
    <div class="footer--logo">
        {% include footer-logo.html %}
    </div>

    <div class="footer--social-media">

        <div class="footer--social-media--icon">
            <a href="https://fb.com/lightninghacks">
                {% include fb-logo.html %}
            </a>
        </div>
        <div class="footer--social-media--icon">
            <a href="https://instagr.am/lightninghacks">
                {% include insta-logo.html %}
            </a>
        </div>
        <div class="footer--social-media--icon">
            <a href="https://t.me/joinchat/Fm_MABckynMx0cxcXv0XdA">
                {% include telegram-logo.html %}
            </a>
        </div>
    </div>
</footer>
