{% if include.floating %}
    {% assign class = "header__floating" %}
{% else %}
    {% assign class = "header__fixed" %}
{% endif %}

<header class="{{ class }}">
    <div class="header--replace">
        <div class="header--replace-item header--replace-item-active">
            <div class="header--replace-content header--content">
                <a href="/#logo" class="header--main-link"><p>LIGHTNING HACKS</p></a>
                <a href="/log"><p>Histórico</p></a>
            </div>
        </div>

        <div class="header--replace-item">
                <div class="header--replace-content header--invert header--content">
                    <a href="/#logo" class="header--main-link"><p>LIGHTNING HACKS</p></a>
                    <a href="/log"><p>Histórico</p></a>
                </div>
        </div>
    </div>
</header>