{% if include.floating %}
    {% assign class = "header__floating" %}
{% else %}
    {% assign class = "header__fixed" %}
{% endif %}

{% if include.invert %}
    {% assign invert = "header--invert" %}
{% else %}
    {% assign invert = "" %}
{% endif %}

<header class="{{class}} {{invert}} ">
    <a href="/#logo" class="header--main-link">
        <div class="header--logo"> 
            {% include header-logo.html %} 
        </div>
        <p>LIGHTNING HACKS</p>
    </a>
    <span class="header--menu">
        <a href="/log"><p>Histórico</p></a>
    </span>
    <span class="header--line" data-aos="zoom-in" class="line line1"></span>
</header>
