<!DOCTYPE html>
<html lang="pt">
    <head>
        <title>{{ page.title }}</title>
        <link rel="preconnect" href="https://api.lh.imesec.ime.usp.br" />
        <link rel="preconnect" href="https://fonts.googleapis.com/css" />
        <link rel="stylesheet" href="/assets/css/styles.css" />
        <link rel="shortcut icon" href="/assets/images/icon.png" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="Description" content="Apresentações de 5 minutos que quebram paradigmas.">
    </head>
    <body>
        {% include header.html %}
        <div class="splash" id="logo">
            <div class="splash--item">
                {% include logo_yellow.html animate=true width='100%' %}
            </div>
            <div class="splash--item">
                <div class="title">
                    <p>Apresentações relâmpago</p>
                    <p>que quebram paradigmas</p>
                </div>
            </div>
        </div>
        {{ content }}
        {% include footer.html %}
        {% asset bundle.js %}
    </body>
</html>