<html>
    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/assets/css/styles.css" />
        <link rel="stylesheet" href="/assets/css/splash.css" />
    </head>
    <body>
        <header class="header">
            <a href="#logo"><p>LIGHTNING HACKS</p></a>
        </header>
        <div class="splash" id="logo">
            <div class="splash--item">
                {% include logo_yellow.html id="logo" animate=true width='100vmin' height='80vmin'%}
            </div>
            <div class="splash--item">
                <div class="title"> 
                    <p>Uma</p>
                    <h3>INICIATIVA</h3>
                    <p>de <b>hackers</b> para <b>hackers</b></p>
                </div>
            </div>
        </div>
        {{ content }}
        {% asset bundle.js %}
    </body>
</html>