<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/assets/css/styles.css" />
        <link rel="shortcut icon" href="/assets/images/icon.png" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="Description" content="{{ page.description | default: "Histórico do Lightning Hacks" }}">
    </head>
    <body>
        <div class="post--header">
            {% include header.html %}
        </div>
        <div class="post">
            <div class="post--content">
                {{ content }}
            </div>
        </div>
        {% include footer.html %}
    </body>
</html>