.footer {
    background-color: $grey-lh;
    min-height: 25%;
    display: flex;
    justify-content: space-around;
}

.footer--logo {
    height: 25%;
    margin: 1em;
}

.footer--social-media {
    display: flex;
    margin: 1em;
    min-width: 30vw;
    align-items: center;
    justify-content: center;
}

.footer--social-media--icon {
    padding: 0.75em;
    cursor: pointer;
    &:hover {
        filter: brightness(80%);
    }
}