.footer {
    background-color: $gray-lh;
    min-height: 25%;
    display: flex;
    justify-content: space-around;
}

.footer--logo {
    height: 6em;
    margin: 1em;
}

.footer--social-media {
    display: flex;
    margin: 1em;
    align-items: center;
    justify-content: center;
}

.footer--social-media--icon {
    padding: 0.75em;
    cursor: pointer;
    &:hover {
        filter: brightness(80%);
    }
}

@media (max-width: 500px) {
    .footer {
        flex-wrap: wrap-reverse;
    }

    .footer--logo {
        height: 12em;
        margin: 1em;
    }
}