.home {
    background: #000;
}

.home--section {
    padding-bottom: 3em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: content;
    min-height: 100vh;
    justify-content: flex-start;
    align-items: flex-end;
}

.home--content {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 8% 5%;
    text-align: left;
    max-width: 40%;

    .home--button {
        margin-top: 2em;
        display: inline-block;
    }

    h2 {
        font-size: 3.8rem;
        line-height: 120%;
        margin-bottom: 1.5rem;
    }

    p {
        font-size: 1.4rem;
    }
}

.home--svg {
    width: 50vw ;
    height: 90vh;
    margin: 5vh 0;
}

.home--color-scheme-1 {
    background-color: $yellow-lh;
    * {
        color: $pink-lh;
    }
}
.home--color-scheme-2 {
    background-color: #000;
    * {
        color: $blue-lh;
    }
    .home--button {
        background-color: $blue-lh;
        &:hover {
            filter: brightness(1.1);
        }
        * {
            color: #000;
        }
    }
}
.home--color-scheme-3 {
    background-color: $blue-lh;
    * {
        color: #FFF;
    }
    .home--button {
        background-color: #FFF;
        &:hover {
            filter: brightness(0.9);
        }
        * {
            color: $blue-lh;
        }
    }
}
.home--color-scheme-4 {
    background-color: #FFF;
    * {
        color: $pink-lh;
    }
}

.home--color-scheme-5 {
    background-color: $pink-lh;
    * {
        color: #FFF;
    }
}

.home--next-event-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    * {
        overflow-x: hidden;
    }
}

.home--next-event-date p {
    font-size: 3em;
}

.home--button {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1.2em;
}

.home--table {
    width: 40vw;
    display: flex;
    flex-direction: column;

    align-content: stretch;
}

.home--table-header {
    font-weight: bold;
    background: $pink-lh;
    div {
        color: #FFF;
    }
}

.home--table-row {
    display: inline-flex;
    margin: 0.25em;
    border: 2px solid $pink-lh;
    border-radius: 20px;
}

.home--table-cell {
    margin: 1%;
    flex-basis: 50%;
    font-size: 1.2rem;
    text-align: center;
    color: $pink-lh;
}

@media (max-width:800px) {
    .home--content {
        max-width: 100%;
        h2 {
            font-size: 2.4rem;
        }
    }

    .home--svg {
        width: 100vw ;
        height: 50vh;
        order: -1;
    }

    .home--table {
        width: 90vw;
    }
}
