$pink-lh: #F70D88;
$yellow-lh: #F9DF25;
$blue-lh: #01ADEF;

* {
    margin: 0;
    padding: 0;
    border: 0;
    scroll-behavior: smooth;
    font-family: 'Saira', sans-serif;
}

body {
    overflow-x: hidden;
}

.header {
    background-color: rgba($color: #fff, $alpha: 0.0);
    color: #fff;
    text-align: center;
    position: fixed;
    width: 100vw;
    top: 5vh;
    font-size: 1.5em;
    a {
        text-decoration: none;
        color: #fff;
    }
}

.home {
    background: #000;

}

.home--section {
    padding-bottom: 3em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: content;
    min-height: 100vh;
    justify-content: flex-start;
    align-items: flex-end;
}

.home--content {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 8% 5%;
    text-align: left;
    max-width: 40%;

    .home--button {
        margin-top: 2em;
        display: inline-block;
    }

    h2 {
        font-size: 3.8rem;
        line-height: 120%;
        margin-bottom: 1.5rem;
    }

    p {
        font-size: 1.4rem;
    }
}


.home--svg {
    width: 50vw ;
    height: 90vh;
    margin: 5vh 0;
}

.home--color-scheme-1 {
    background-color: $yellow-lh;
    * {
        color: $pink-lh;
    }
}
.home--color-scheme-2 {
    background-color: #000;
    * {
        color: $blue-lh;
    }
}
.home--color-scheme-3 {
    background-color: $blue-lh;
    * {
        color: #FFF;
    }
}
.home--color-scheme-4 {
    background-color: #FFF;
    * {
        color: $pink-lh;
    }
}

.home--color-scheme-5 {
    background-color: $pink-lh;
    * {
        color: #FFF;
    }
}

.home--link {
    text-decoration: none;
}

.home--hidden-link {
    margin-top: 1.5rem;
}

.home--next-event-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home--next-event-date p {
    font-size: 3em;
}

.home--table {
    width: 40vw;
    display: flex;
    flex-direction: column;

    align-content: stretch;
}

.home--table-header {
    font-weight: bold;
    background: $pink-lh;
    div {
        color: #FFF;
    }
}

.home--table-row {
    display: inline-flex;
    margin: 0.25em;
    border: 2px solid $pink-lh;
    border-radius: 20px;
}
.home--table-cell {
    margin: 1%;
    flex-basis: 50%;
    font-size: 1.2rem;
    text-align: center;
    color: $pink-lh;
}
@media (max-width:800px) {
    .home--content {
        max-width: 100%;
        h2 {
            font-size: 2.4rem;
        }
    }

    .home--svg {
        width: 100vw ;
        height: 50vh;
        order: -1;
    }

    .home--table {
        width: 90vw;
    }
}
