.post {
    background-color: $near-white-lh;
    padding-bottom: 2em;
    padding-top: 2em;

    display: flex;
    flex-direction: column;
    align-items: center;
}


.post--header {
    display: block;
}

.post--content {
    position: relative;
    // Reduce the text width to improve reading on large screens 
    max-width: 680px;
    margin: 64px;

    padding-bottom: 2em;

    // Since posts are in markdown, unfortunately we need to target tags and not classes
    h2 {
        padding-top: 2.5em;
    }

    hr {
        margin-top: 1.5em;
        display: block;
        border-style: inset;
        border-width: 1px;
        border-color: $near-white-lh;
    }

    a {
        color: $pink-lh;
    }

    p {
        margin-bottom: 0.5em;
    }

    blockquote {
        color: $light-gray-lh;
        padding-bottom: 1.5em;
    }
}

.post--video-container {
        position: relative;
        overflow: hidden;
        padding-top: 56.25%;
        margin-bottom: 1.5em;
}
  
.post--video-iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
}
