.header {
    background-color: rgba($color: #fff, $alpha: 0.0);
    color: #fff;
    text-align: center;
    position: fixed;
    width: 100vw;
    top: 5vh;
}

.splash {
    display: flex;
    background: #f70d88;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    margin: 0 auto;
}

.splash--item {
    min-width: 40%;
    min-height: 100vh;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.title {
    font-size: 3.2em;
    color: #fff;
    text-align: center;
    word-wrap: break-word;
}
