.splash {
    display: flex;
    background: $pink-lh;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    margin: 0 auto;
}

.splash--item {
    min-width: 40%;
    min-height: 100vh;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.title {
    font-size: 3.2em;
    color: $white-lh;
    text-align: center;
    word-wrap: break-word;
}
