---
layout: home
title: Lightning Hacks
---
<div class="home">
    <div class="home--section home--color-scheme-1">
        <div class="home--content home--right-text">
            <h2>5 minutos, <br/> 5 hackers.</h2>
            <p>Cada hacker tem 5 minutos para  mostrar suas ideias que fogem do pensamento comum.</p>
        </div>
        <div class="home--content home--svg">
            {% include time.html %}
        </div>
    </div>
    <div class="home--section home--color-scheme-2">
        <div class="home--content home--right-text">
            <h2>Hack não é só computação</h2>
            <p>Hack é explicar em 5 minutos como roubar senhas de um site, como física quântica funciona ou como encontrar o seu par perfeito usando estatística.</p>
            <br>
            <p>Hackers focam no método.</p>
            <a class="home--button" href="https://docs.google.com/document/d/1GT_aPVILm6w5mrCAnXv96IGVLb0bui6YUwb_cnlV8m8/edit?usp=sharing" target="_blank"><b>Leia nosso manifesto</b></a> 
        </div>
        <div class="home--content home--svg">
            {% include hack.html %}
        </div>
    </div>
    <div class="home--section home--color-scheme-3">
        <div class="home--content home--left-text">
            <h2>Você pode ser um hacker</h2>
            <p>Qualquer pessoa pode se apresentar. Apenas pegue seu hack e se increva.</p>
            <a target="_blank" href="https://docs.google.com/spreadsheets/d/1v28QjM_P2i6q2jxoVIrLOmyn5E2Iv2kJCrT0u2xa_OM/edit?usp=sharing" class="home--button"><b>Inscreva a sua apresentação</b></a>
        </div>
    </div>
    <div class="home--section home--color-scheme-4">
        <div class="home--content home--left-text">
            <h2>Novos hacks toda semana</h2>
            <p>Confira a programação do próximo Lightning Hacks.</p>
        </div>
        {% include next-event-table.html %}
    </div>
    <div class="home--section home--color-scheme-5">
            <div class="home--content">
                <h2>Sábados,<br/> às 13h</h2>
                <a class="home--button" href="https://www.youtube.com/channel/UCph-2faXYoFpsciJWs5ATYw" target="_blank"><b>No YouTube</b></a> 
            </div>
    </div>
</div>